# Dependencias (no se suben)
node_modules/

# Builds / caches
dist/
build/
.vite/
.cache/

# Logs y temporales
*.log
*.tmp
*.swp
*.swo

# SO / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

# TS cache
*.tsbuildinfo

# Variables de entorno (privadas)
.env.local
.env.*.local

# Cobertura (si usás tests)
coverage/